/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  font-size: 16px;
  font-family: 'Segoe UI';
}
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}
main {
  margin-left: 6rem;
  padding: 1rem;
}
body::-webkit-scrollbar {
  width: 0.35rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #790417;
}