<button
mat-stroked-button color="warn"
[matBadge]="promotions.length" matBadgePosition="after" matBadgeColor="accent"
[matMenuTriggerFor]="promoMenu">Promotions</button>
<mat-menu #promoMenu="matMenu">
  <ul class="promo-container">
    <li
    *ngFor="let promotion of promotions"
    (click)="checkNotification(promotion.id)">
      {{promotion.title}}
      <hr>
    </li>
  </ul>
</mat-menu>