.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #232323;
  transition: 200ms ease;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
  padding-left: 8px;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(65%) opacity(0.9);
  transition: 600ms;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #141418;
  color: #ececec;
}
.link-text {
  display: none;
  margin-left: 1rem;
}
.notif {
  display: none;
  margin-left: 1rem;
}
.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5.rem;
}
.nav-item:last-child {
  margin-top: 0rem;
}
.navbar:hover {
  width: 16rem;
}
.navbar:hover .link-text {
  display: block;
}
.fa-primary {
  color: #f02727;
}
.fa-secondary {
  color: #6e0c0c;
}
.fa-primary,
.fa-secondary {
  transition: 600ms;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #ececec;
  background: #141418;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo svg {
  transform: rotate(0deg);
  transition: transform 600ms;
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
.navbar:hover .notif {
  display: inline;
}