<button
mat-stroked-button color="warn"
[matBadge]="texts.length" matBadgePosition="after" matBadgeColor="accent"
[matMenuTriggerFor]="textMenu">Texts</button>
<mat-menu #textMenu="matMenu">
<ul class="text-container">
<li
*ngFor="let text of texts"
(click)="checkNotification(text.id)">
  {{text.text}}
  <hr>
</li>
</ul>
</mat-menu>