<button
mat-stroked-button color="warn"
[matBadge]="bonuses.length" matBadgePosition="after" matBadgeColor="accent"
[matMenuTriggerFor]="bonusMenu"
>Bonuses</button>
<mat-menu #bonusMenu="matMenu">
<ul class="bonus-container">
<li
*ngFor="let bonus of bonuses"
(click)="checkNotification(bonus.id)">
  {{bonus.requirement}}
  <hr>
</li>
</ul>
</mat-menu>